
<div>
    <h2>Spectacular Mountain</h2>
    <img src="~/Resource/Images/IMG_0096.PNG" alt="Mountain View" style="width:304px;height:228px;">
</div>
<div class="xxxx">
    @RenderBody()
</div>

<style>
  
</style>