[D-BUS Service]
Name=org.gtk.GDBus.Examples.ObjectManager
Exec=/Users/xuanloctn/Documents/Backup/LocTV/FFmpeg/glib-2.51.5/gio/tests/gdbus-example-objectmanager-server
