<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMLParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA74632B1EB082EC00FFF023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA7463421EB082EC00FFF023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA74634D1EB082EC00FFF023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
