<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFmpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libavcodec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libavdevice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libavfilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libavformat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libavresample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libavutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libpostproc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libswresample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libswscale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA15AD161E8CDEA5003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA15AD231E8CDED4003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA15AD301E8CDEE5003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA15AD3D1E8CDEFA003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA15AD4A1E8CDF06003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA15AD571E8CDF18003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA15AD641E8CDF2D003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA15AD711E8CDF43003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA15AD7E1E8CDF5B003FE97F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA8C0CE11E78D29B0011D810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA8C0CF81E78D29C0011D810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA8C0D031E78D29C0011D810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
