<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeviceMIG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IOKit-Embedded-eOS-lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IOKit-Embedded-eOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IOKit-Embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IOKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IOKitUser_headers_Sim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ShadowExternalHeaders-Embedded-eOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ShadowExternalHeaders-Embedded.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ShadowExternalHeaders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libkext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10830CC90F5DDD9A00937E9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DCEADB108DB8CEF00B0CBEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F97801612876CD0000C497D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7238541C087F2E4500B36ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8420530A0CFE52CB00C2EF0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8472D4770CFA100A003111DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848E725215068444006AE483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848E733B150688A4006AE483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B332FD1E14D747FB0092AA1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1AF600007B40A70007EADEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
